<component name="libraryTable">
  <library name="spring-beans-4.2.0.RELEASE">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-beans-4.2.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/mysql-connector-java-5.1.48.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>